/* ConsignmentForm.css */

/* Center the form horizontally and vertically */
.consignment-form {
  height: 100%;  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 25px;
  font-family: 'Inter';
  color: #745700;
}
.title-hint {
  font-size: 12px; /* You can adjust the font size as needed */
  color: #666; /* Optional: You can set the color to gray or any other color you prefer */
}
select,
input {
  width: 100%;
  padding: 13px !important;
  margin-bottom: 16px;
  border-radius:12px;
  border-color: #745700;
}

h1{
  margin-bottom: 75px;
  color: #023047;
  border: 2px;
}
.success-message {
  background-color: green;
  color: white;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.banning-message {
  background-color: red;
  color: white;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}


.prod-form-field{
  height: 60px;
  width: 400px;
  margin-bottom: 40px;
}

.description{
height: 200px;
width: 400px;
margin-bottom: 50px;
max-lines: 50;
border-radius: 12px;
}

.mrp{
margin-top: 150px;
}

.Submit{
width: 150px;
background-color: #CBE9FF !important;
cursor: pointer;
}

body{
background-color: #ffffff !important;
}

::placeholder{
padding-left: 2px;
padding-top: 2px;
}
/* Additional styles for specific form elements can be added here */
