
.kyc-form {
    height: 100%;  
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    
  }
  
  
  label {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 25px;
    font-family: 'Inter';
    color: #745700;
  }
  
  select,
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius:12px;
    /* border-color: #745700; */
  }
  
  h1{
    margin-bottom: 75px;
    color: #023047;
    border: 2px;
  }
  
  .prod-form-field{
    height: 60px;
    width: 400px;
    margin-bottom: 40px;
  }
  
  .address{
  height: 200px;
  width: 400px;
  margin-bottom: 50px;
  max-lines: 50;
  border-radius: 12px;
  padding-left:2px ;
  padding-top: 2px;
  }
  
  .docs{
  margin-top: 150px;
  }
  
  .Submit{
  width: 150px;
  background-color: #4dce57;
  cursor: pointer;
  }
  
  body{
  background-color: #023047;
  }
  
  ::placeholder{
  padding-left: 2px;
  padding-top: 2px;
  }
  
  .up-docs{
  cursor: pointer;
  }
  
  .date{
    cursor: pointer;
  }
  