.notification-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .notification-box {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 30vw;
    height: 40vw;
    text-align: center;
  }
  
  .notifications {
    margin-top: 20px;
  }
  
  .notification {
    margin-bottom: 10px;
  }
  