/* AboutUs.css */

.about-us-page {
    
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .about-us-section,
  .about-garuda-section {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 15px; /* Adjust border-radius as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the values here for a more pronounced box shadow */
    margin: 10px;
    flex: 1;
    text-align: center; /* Center the text within the sections */
  }
  
  .section-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .section-description {
    font-size: 16px;
    color: #555;
  }
  