/* your-path-to-FeaturesBenefitsPage.css */
body {
  background-color: #1976d2; /* Set the background color to #1976d2 for the entire page */
}

.centered-h1 {
  text-align: center; /* Center the text horizontally */
  margin-top: 100px; /* 50px margin on top and bottom */
  font-size: 28px; /* Increase the font size as needed */
  color: #333; /* Text color */
}
